{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
{% endblock %}

{% block title %}
    Perhatian!
{% endblock %}

{% block content %}
<div class="alert alert-warning" role="alert">
  Perhatian! Sesi latihan telah usai. Anda akan mulai masuk ke permainan riil di periode berikutnya. Segala keputusan Anda akan berpengaruh pada pendapatan Anda dari eksperimen ini.
</div>
<p>Tekan tombol 'Lanjut' jika Anda sudah memahami tata cara memainkan eksperimen ini.</p>
<button class="otree-btn-next btn btn-primary">Lanjut</button>

{% endblock %}