{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<style type="text/css">
table.pre, td.pre, th.pre {
    border: 1px solid black;
  }
  
  table.pre {
    border-collapse: collapse;
    width: 100%;
  }
  
  th.pre {
    font-size: 14px /*0.75vw*/;
    height: 2ex;
    text-align: center;
    background-color: rgb(200, 200, 200);
  }
  
  td.pre {
    font-size: 14px /*0.5vw*/;
    height: 3.5ex;
    text-align: center;
  }
</style>
{% endblock %}

{% block title %}
    Instruksi Eksperimen (lanjutan)
{% endblock %}

{% block content %}
<p><h5><b>2. Contoh Sebuah Periode</b></h5></p>
<p>Anda akan menghadapi layar sebagai berikut di sebuah periode yang Anda mainkan dengan urutan sebagai berikut:</p>
<p>1) Dimulai dengan mengerjakan game huruf random seperti penjelasan sebelumnya</p>
<p>a. Memilih mode waktu</p>
<img src="{% static image_8 %}" width="1024" height="768">
<p>b. Mengisi jawaban yang benar</p>
<img src="{% static image_9 %}" width="1024" height="768">
<p>2) Memeriksa hasil pendapatan Anda dari game tersebut</p>
<img src="{% static image_10 %}" width="1024" height="768">
<p>3) Melaporkan pajak penghasilan Anda</p>
<img src="{% static image_11 %}" width="1024" height="768">
<p>4) Setelah menekan tombol lanjut Anda akan mendapat bukti pelaporan dengan tampilan sebagai berikut:</p>
<img src="{% static image_12 %}" width="1024" height="768">
<p>5) Akan muncul notifikasi jika periode pelaporan Anda ini masuk dalam 3 dari 10 periode yang diperiksa sebagaimana penjelasan sebelumnya</p>
<img src="{% static image_13 %}" width="1024" height="768">
<p>Rangkaian nomor 1 sampe dengan 5 adalah satu periode dan akan Anda lakukan sebanyak 3 Periode Latihan + 10 Periode Game inti.</p>
<p>Setelah selesai semua periode maka akan dilanjutkan dengan kuesioner singkat dan input angka random untuk pencairan pendapatan dalam rupiah.</p>

<br>
<p>Tekan tombol 'Lanjut' jika Anda sudah memahami instruksi di atas.</p>
<button class="otree-btn-next btn btn-primary">Lanjut</button>

{% endblock %}