{% extends "global/Page.html" %}
{% load otree %}
{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
<style type="text/css">
table.lap, td.lap, th.lap {
    border: 1px solid black;
  }
  
  table.lap {
    border-collapse: collapse;
    width: 100%;
    margin-top: 24px;
  }
  
  th.lap {
    font-size: 14px /*0.75vw*/;
    height: 2ex;
    text-align: center;
    background-color: rgb(200, 200, 200);
  }
  
  td.lap {
    font-size: 14px /*0.5vw*/;
    height: 3.5ex;
    text-align: left;
    padding: 24px;
  }
</style>
{% endblock %}
{% block title %}
<header><p>{{Constants.header}}</p></header>
    Pelaporan Pajak Penghasilan
{% endblock %}

{% block content %}
<h5>Periode latihan ke-{{round}}</h5>
<p>
  Dari penghasilan yang Anda dapatkan dari game sebelumnya Anda diharapkan melaporkan pajak dengan form berikut.</p>
  <p>Hanya field omset yang perlu Anda isi, untuk field lain akan terisi secara otomatis
</p>
<br>
<input id="preview" type="button" class="btn btn-success" onclick="myFunction()" value="Preview Omset" />&emsp;&emsp;<span id="prev"></span>

<table class="lap">
    <tr><td class="lap">
    <h5>Pelaporan Pajak Penghasilan</h5>
    <br>
    <input type="hidden" id="omset_input" name="omset_input" />
    Omset&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;: <input type="text" style="text-align: right;" id="txt_omset_input" name="txt_omset_input" /> EU<br><br>
    Jumlah pajak terutang &nbsp;&nbsp;&nbsp;: <input type="text" style="text-align: right;" id="pph" name="pph" disabled /> EU
    <br>
    </td></tr>
</table>
<br>
<p>Jumlah pendapatan bersih/pembayaran yang mungkin bisa Anda dapatkan pada periode ini : <input type="text" style="text-align: right;" id="total_payoff" name="total_payoff" disabled /> EU</p>
<br>
<p>Pastikan kembali bahwa pengisian pelaporan pajak benar-benar sesuai dengan keputusan Anda. </p>
<br>
<p>Tekan tombol 'Lanjut' jika Anda sudah yakin dengan isian pelaporan Anda</p>


<!-- Button trigger modal -->
<button id="btn_lanjut" disabled="disabled" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Lanjut
</button>
<button id="btn_ok" class="otree-btn-next btn btn-primary invisible"></button>
<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Peringatan!!</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Apakah Anda sudah yakin dengan pelaporan pajak Anda?<br>
        Setelah memilih "Ya" maka Anda tidak dapat melakukan perubahan data.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tidak</button>
        <button id="btn_ya" type="button" class="otree-btn-next btn btn-success">Ya</button>
      </div>
    </div>
  </div>
</div>
<script>
    function hitungFunction() {
      var txt_omset = document.getElementById("txt_omset_input").value;
      var omset_input = parseFloat(txt_omset.replace(/,/g, ''));
        // var omset_input = Number(document.getElementById("omset_input").value)
        var ts = omset_input * {{tarif_pajak}};
        var lr = {{player.total_omset}} - {{player.total_biaya}};
        var payoff = lr - ts;

        document.getElementById("pph").value = thousands_separators(ts)
        document.getElementById("total_payoff").value = thousands_separators(payoff)

        if (document.getElementById("txt_omset_input").value == "") {
          document.getElementById("omset_input").value = 0
        } else {
          document.getElementById("omset_input").value = omset_input
        }
        //setCookie("omset_input", omset_input, 2)
        //console.log(getCookie("omset_input"))
    }

    function myFunction() {
      document.getElementById("prev").textContent = thousands_separators({{player.total_omset}}) + " EU"
    }

    function thousands_separators(num)
    {
        var num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return num_parts.join(".");
    }

    function setCookie(cname,cvalue,exdays) {
      const d = new Date();
      d.setTime(d.getTime() + (exdays*24*60*60*1000));
      let expires = "expires=" + d.toUTCString();
      document.cookie = cname + "=" + cvalue + ";" + expires + ";path=/;SameSite=None; Secure";
    }

    function getCookie(cname) {
      let name = cname + "=";
      let decodedCookie = decodeURIComponent(document.cookie);
      let ca = decodedCookie.split(';');
      for(let i = 0; i < ca.length; i++) {
        let c = ca[i];
        while (c.charAt(0) == ' ') {
          c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
          return c.substring(name.length, c.length);
        }
      }
      return "";
    }

    $("#btn_ya").click(function() {
      $("#btn_ok").click();
    });

    $("#txt_omset_input").keyup(function(event){
        //var oms = str(document.getElementById("omset_input").value).replace(",","")
        // When user select text in the document, also abort.
        var selection = window.getSelection().toString(); 
        if (selection !== '') {
            return; 
        }       
        // When the arrow keys are pressed, abort.
        if ($.inArray(event.keyCode, [38, 40, 37, 39, 13]) !== -1) {
            return; 
        }       
        var $this = $(this);            
        // Get the value.
        var input = $this.val();            
        input = input.replace(/[\D\s\._\-]+/g, ""); 
        input = input?parseInt(input, 10):0; 
        $this.val(function () {
            return (input === 0)?"0":input.toLocaleString("en-US"); 
        });
        hitungFunction();
    });

    var s = {{wait_seconds}};

    // Update the count down every 1 second
    var x = setInterval(function() {
      
      // If the count down is over, write some text 
      if (s <= 0) {
        clearInterval(x);
        document.getElementById('btn_lanjut').disabled = false;
        document.getElementById("btn_lanjut").textContent = "Lanjut"
      } else {
        document.getElementById("btn_lanjut").textContent = "Lanjut ("+s+")";
      }
      s--;
    }, 1000);


    document.getElementById("txt_omset_input").value = 0

    $("#txt_omset_input").keyup();
    $("#txt_omset_input").focus();

    setCookie("total_omset", "", -100)
    setCookie("total_biaya", "", -100)
    setCookie("view_omset", "", -100)
    setCookie("view_biaya", "", -100)
    setCookie("view_laba", "", -100)
    setCookie("performance", "", -100)
</script>
{% endblock %}