{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
{% endblock %}

{% block title %}
    Pengantar
{% endblock %}

{% block content %}
    <p><h5><b>Baca dan pahami cerita berikut untuk menjawab pertanyaan selanjutnya</b></h5></p>
    <p>Info Umum</p>
	<p>Anda adalah warga negara <b>Nusa Makmur</b>. Pemerintah negara Nusa Makmur <b>mewajibkan setiap warga negara yang memiliki usaha untuk membayar pajak</b>. Pajak tersebut akan <b>digunakan untuk membiayai kebutuhan negara Nusa Makmur</b>. Pemungutan pajak dilakukan oleh <b>otoritas pajak Nusa Makmur</b>.</p>
    <p>Nusa makmur menetapkan <b>perhitungan pajak</b> dengan cara yaitu:
        <ul>
            <li>tarif pajak dikali <b>dengan omset (bukan dari laba) sebagai dasar pengenaan pajak</b>.
            </li>
            <li>Tarif pajak telah <b>diturunkan dari 20% ke 10%</b>.
            </li>
        </ul>
    </p>
    <p>
        Untuk saat ini, Anda sebagai warga negara Nusa Makmur akan membayar dan melaporkan pajak dalam <b>10 periode</b>.
    </p>
    <p>
        Sebagai bentuk <b>pengawasan atas pembayaran pajak</b> maka otoritas pajak Nusa Makmur diwajibkan melaksanakan pemeriksaan terhadap <b>30% dari total pelaporan</b>, yaitu <b>3 dari 10 periode pelaporan pajak</b> akan diperiksa di akhir periode pembayaran dan pelaporan pajak.
    </p>
	<p>Atas pemeriksaan yang dilakukan, jika terdapat <b>ketidakpatuhan pembayaran pajak</b> atau dalam hal ini <b>>omset yang dilaporkan tidak sesuai dengan omset yang sebenarnya</b> maka otoritas pajak Nusa Makmur akan menetapkan denda sebesar <b>200% dari selisih pajak yang kurang dibayar</b>.
    </p>
    <p>
        Isilah pertanyaan berikut terkait dengan informasi di atas dengan benar untuk dapat melanjutkan ke tahap berikutnya
        <br>Pilih jawaban yang benar
    </p>
    {{formfield 'q1'}}
    {{formfield 'q2'}}
    {{formfield 'q3'}}
    {{formfield 'q4'}}
    {{formfield 'q5'}}
    {{formfield 'q6'}}
    {{formfield 'q7'}}
    {{formfield 'q8'}}
    {{formfield 'q9'}}
    <br>
    <p>Tekan tombol 'Lanjut' jika Anda sudah selesai menjawab semua pertanyaan.</p>
    <button class="otree-btn-next btn btn-primary">Lanjut</button>

{% endblock %}