{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<style type="text/css">
table.pre, td.pre, th.pre {
    border: 1px solid black;
  }
  
  table.pre {
    border-collapse: collapse;
    width: 100%;
  }
  
  th.pre {
    font-size: 14px /*0.75vw*/;
    height: 2ex;
    text-align: center;
    background-color: rgb(200, 200, 200);
  }
  
  td.pre {
    font-size: 14px /*0.5vw*/;
    height: 3.5ex;
    text-align: center;
  }
</style>
{% endblock %}

{% block title %}
    Persiapan Latihan
{% endblock %}

{% block content %}

<p>
  Selamat datang dalam latihan game. Poin yang digunakan dalam game ini adalah EU (Eksperimen Unit) dimana 1.000 EU dapat dikonversikan menjadi 1 (satu) rupiah. Misal Anda mendapatkan 50.000.000 EU maka dapat dikonversikan menjadi Rp50.000,-</p>

	<p>Payoff yang diberikan dalam game ini adalah participant fee sebesar Rp15.000,- jika Anda menyelesaikan semua ronde dan mengisi after survey.  Serta ditambah lagi dengan payoff yang Anda dapat dari game huruf random dikurangi pajak yang dilaporkan serta kemungkinan pengurangan jika Anda dikenakan denda akibat pemeriksaan jika ditemukan data yang tidak sesuai.</p>

	<p>Total Payoff yang dicairkan adalah participant fee ditambah dengan pay off pada salah satu periode dari 1 s.d 10 periode yang Anda mainkan. Pemilihan periode mana yang akan dicairkan dilakukan secara random dengan angka bebas yang Anda pilih di akhir game. Pastikan nomor hp yang dicantumkan benar untuk keperluan transfer payoff melalui OVO atau GOPAY
</p>
    {% next_button %}

{% endblock %}