{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
<style type="text/css">
table.pre, td.pre, th.pre {
    border: 1px solid black;
  }
  
  table.pre {
    border-collapse: collapse;
    width: 100%;
  }
  
  th.pre {
    font-size: 14px /*0.75vw*/;
    height: 2ex;
    text-align: center;
    background-color: rgb(200, 200, 200);
  }
  
  td.pre {
    font-size: 14px /*0.5vw*/;
    height: 3.5ex;
    text-align: center;
  }
</style>
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Tanda Terima Pelaporan Pajak
{% endblock %}

{% block content %}
<h5>Periode latihan ke-{{round}}</h5>
<br><br>
<table class="table table-borderless">
    <tr><td></td><td width="60%" style="text-align: center; border: 1px solid black; background-color: cornflowerblue;">Pelaporan Pajak Penghasilan<br>Otoritas Pajak Nusa Makmur</td><td></td width="40%"></tr>
    <tr><td></td><td style="text-align: center; border: 1px solid black; background-color: rgb(197, 253, 253);">Berikut Bukti Pelaporan Pajak Anda<br>
    -------------------------------------------------<br>
    Periode : latihan ke-{{round}}<br>
    Omset dilaporkan : <span id="omset"></span> EU<br>
    Pajak yang dibayarkan : <span id="pph"></span>  EU</td><td></td></tr>
    <tr><td></td><td style="text-align: center; border: 1px solid black; background-color: rgb(197, 253, 253);">Terima kasih telah menyampaikan Laporan Pajak Anda</td><td></td></tr>
</table>
<br><br><br>
<p>Tekan tombol 'Lanjut' untuk melanjutkan ke tahap berikutnya.</p>
<button class="otree-btn-next btn btn-primary">Lanjut</button>
<script lang="text/javascript">
    function thousands_separators(num)
    {
        var num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return num_parts.join(".");
    }
    document.getElementById("omset").textContent = thousands_separators({{omset}})
    document.getElementById("pph").textContent = thousands_separators({{pph}})
</script>

{% endblock %}