{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Kuesioner
{% endblock %}

{% block content %}
<p>Terima kasih banyak telah menyelesaikan seluruh periode latihan dan game inti.</p>
<p>Selanjutnya Anda dimohon untuk mengisi kuesioner berikut. Tidak ada jawaban benar dan salah</p>
<p>Peneliti menjamin kerahasiaan seluruh data pribadi Anda. Seluruh data yang dikumpulkan hanya digunakan untuk tujuan studi semata.</p>
<p>Apabila Anda memiliki pertanyaan terkait dengan kuisioner ini, Anda bisa menghubungi kami melalui whatsapp di <a href="http://wa.me/628569041762">http://wa.me/628569041762<a></p>
<br><br>
<p>Tekan tombol 'Lanjut' untuk masuk ke halaman berikutnya.</p>
<button class="otree-btn-next btn btn-primary">Lanjut</button>
{% endblock %}