{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Data untuk Pencairan Pembayaran
{% endblock %}

{% block content %}
<p>Terima kasih banyak telah meluangkan waktu untuk mengikuti penelitian ini. Halaman ini adalah tahap akhir dari penelitian. Mohon masukkan data Anda dengan benar dan akurat. Data nomor telepon dan alamat email akan kami gunakan untuk menghubungi partisipan terkait kompensasi yang akan didapatkan.</p>
<p>Apabila Anda memiliki pertanyaan terkait dengan kuisioner ini, Anda bisa menghubungi kami melalui whatsapp di <a href="http://wa.me/628569041762">http://wa.me/628569041762</a>.</p>
<br><br>
<p>Tekan tombol 'Lanjut' untuk masuk ke halaman berikutnya.</p>
<button class="otree-btn-next btn btn-primary">Lanjut</button>
{% endblock %}