{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Proses Payoff
{% endblock %}

{% block content %}
<p>Klik Next untuk melakukan penghitungan payoff</p>
<input type="hidden" id="periode_terpilih" name="periode_terpilih" />
<input type="hidden" id="payoff_real" name="payoff_real" />
<button id="btn_sumbit" class="otree-btn-next btn btn-primary">Submit</button>

<script>
    document.getElementById("periode_terpilih").value = {{periode_terpilih}}
    document.getElementById("payoff_real").value = {{payoff_real}}

    var s = 1;

    // Update the count down every 1 second
    var x = setInterval(function() {
      
      // If the count down is over, write some text 
      if (s <= 0) {
        clearInterval(x);
        document.getElementById('btn_sumbit').click()
      } else {

      }
      s--;
    }, 100);
</script>
{% endblock %}
