{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
Kuesioner
{% endblock %}

{% block content %}
{{ formfield 's1' }}
{{ formfield 's2' }}
{{ formfield 's3' }}
{{ formfield 's4' }}
{{ formfield 's5' }}
{{ formfield 's6' }}
{{ formfield 's7' }}
{{ formfield 's8' }}
{{ formfield 's9' }}
{% if treatment != 0 %}
{{formfield 's10'}}
{{formfield 's11'}}
{% endif %}
<br><br>
<p>Tekan tombol 'Lanjut' untuk masuk ke halaman berikutnya.</p>
<button class="otree-btn-next btn btn-primary">Lanjut</button>
<script lang="text/javascript">
    $('#id_s3').on('change', function(){
        const selectedPackage = $('#id_s3').val();
        if (selectedPackage == 1) {
            $('#id_s4').attr('disabled', 'disabled');
            $('#id_s5').removeAttr("disabled");
        } else {
            $('#id_s4').removeAttr("disabled");
            $('#id_s5').attr('disabled', 'disabled');
        }
    });
    $('#id_s1').on('change', function(){
        const selectedPackage = $('#id_s1').val();
        if (selectedPackage == 4) {
            $('#id_s2').attr('disabled', 'disabled');
        } else {
            $('#id_s2').removeAttr("disabled");
        }
    });
</script>
{% endblock %}


