{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
Data untuk Pencairan Pembayaran
{% endblock %}

{% block content %}
{{ formfield 't11' }}
{{ formfield 't12' }}
{{ formfield 't13' }}
{{ formfield 't14' }}
{{ formfield 't15' }}
{{ formfield 't16' }}
{{ formfield 't17' }}
{{ formfield 't18' }}
{{ formfield 't19' }}
{{ formfield 't20' }}
{{ formfield 't21' }}
<br>
<p>Tekan tombol 'Lanjut' untuk masuk ke halaman berikutnya.</p>
<button class="otree-btn-next btn btn-primary">Lanjut</button>
{% endblock %}