{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
{% endblock %}

{% block title %}
    Lembar Persetujuan
{% endblock %}

{% block content %}
    <p>
        Partisipasi Anda bersifat sukarela. Jika Anda:
    </p>
    <ol>
        <li>telah membaca lembar persetujuan ini</li>
        <li>setuju untuk berpartisipasi dalam penelitian ini</li>
        <li>berusia minimal 18 tahun, dan</li>
        <li>merupakan mahasiswa aktif Universitas Gadjah Mada</li>
    </ol>
    <p>
        maka Anda bisa memilih (mencentang) “Ya” untuk setuju mengikuti penelitian ini dan sebaliknya Anda bisa memilih (mencentang) “Tidak” untuk meninggalkan penelitian.
    </p>
    {{formfield 'consent' label=''}}
    <button class="otree-btn-next btn btn-primary">Simpan</button>

{% endblock %}