{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
Lembar Persetujuan/Informed Consent
{% endblock %}

{% block content %}
<p>Dengan hormat,</p>
<p>Perkenalkan, saya Rizal Ash Shiddieqi adalah mahasiswa pada Magister Ekonomika Pembangunan Universitas Gadjah Mada. </p>
<p>Dengan ini saya mengharapkan Anda berkenan untuk berpartisipasi dan bekerjasama dalam eksperimen daring yang bertujuan untuk mengetahui pengambilan keputusan Anda atas sebuah set permainan dengan informasi tertentu. Anda akan mendapatkan instruksi permainan yang harus Anda baca dengan seksama serta sesi latihan sebelum memulai eksperimen yang sebenarnya. </p>
<p>Keikutsertaan Anda bersifat anonim, data disimpan dan digunakan hanya untuk penelitian dan tidak akan diekspose ke pihak lain. Semua informasi yang berkaitan dengan identitas subjek penelitian akan dirahasiakan dan hanya akan diketahui oleh peneliti. Hasil penelitian akan dipublikasikan tanpa identitas subjek penelitian.</p>
<p>Estimasi total waktu partisipasi Anda dalam eksperimen ini adalah kurang lebih 45 menit hingga 60 menit namun hal ini tergantung dari bagaimana Anda memahami instruksi dan waktu yang Anda butuhkan untuk memutuskan alokasi Anda. Penelitian ini akan melibatkan sekitar 180 responden yang merupakan mahasiswa aktif Universitas Gadjah Mada yang berusia minimal 18 tahun.</p> 
<p>Responden akan mendapatkan kompensasi langsung berupa uang bergantung dari keputusan yang dilakukan dalam eksperimen. Untuk peserta yang menyelesaikan semua bagian penelitian ini akan minimal mendapatkan pembayaran berupa participant fee sebesar Rp15.000 serta tambahan sampai dengan Rp100.000 yang akan disalurkan melalui uang elektronik tergantung dari kesempatan yang ada dan keputusan yang Anda lakukan.</p>
<p><b>A.	Kesukarelaan untuk mengikuti penelitian</b></p>
<p>Partisipasi Anda di dalam penelitian ini sepenuhnya bersifat sukarela dan Anda bebas untuk memilih berpartisipasi atau tidak. Jika Anda memutuskan untuk mengikuti eksperimen ini, Anda diperbolehkan mengundurkan diri sewaktu-waktu tanpa adanya penalti atau konsekuensi apapun. Peneliti dapat menghentikan keikutsertaan Anda dalam kegiatan ini dalam kondisi-kondisi tertentu. </p>
<p><b>B.	Kewajiban Subjek Penelitian</b></p>
<p>Sebagai subjek penelitian, diharapkan Anda dapat mengikuti aturan dan memahami petunjuk penelitian pada halaman berikutnya. Bila ada yang belum jelas, Anda dapat bertanya lebih lanjut kepada peneliti.</p>
<p>Meskipun penelitian ini dilakukan secara online, diharapkan masing-masing peserta tidak berkomunikasi satu sama lain.</p>
<p><b>C.	Risiko</b></p>
<p>Terdapat risiko kemungkinan kebingungan dalam mengikuti penelitian namun demikian penulis juga menyediakan salinan digital instruksi yang dapat diunduh untuk dapat dibaca ulang, kemungkinan kelelahan mata dan kebosanan dapat juga terjadi karena waktu eksperimen 45 s.d 60 menit namun demikian penelitan ini dapat dijeda dan dilanjutkan kembali sesuai fleksibilitas waktu yang Anda miliki dalam rentang 24 jam dengan mengklik kembali link yang Anda dapatkan.</p>
<p><b>D.	Manfaat</b></p>
<p>Informasi yang dikumpulkan dalam eksperimen ini akan berguna untuk memahami perilaku individu ketika dihadapkan pada pilihan atas informasi yang disediakan. Pemahaman ini dapat digunakan untuk menjadi kontribusi di bidang akademik dan menjadi masukan dalam pengembangan kebijakan.</p>
<p><b>E.	Pembiayaan</b></p>
<p>Seluruh biaya dari studi ini akan ditanggung oleh tim peneliti. Anda tidak akan diminta untuk mengeluarkan biaya untuk berpartisipasi dalam penelitian ini. Namun demikian, Peneliti tidak menanggung biaya listrik serta akses internet yang Anda gunakan selama mengikuti penelitian ini.</p>
<p><b>F.	Informasi Tambahan</b></p>
<p>Jika Anda mempunyai pertanyaan apapun tentang penelitian ini dan Anda membutuhkan penjelasan lebih lanjut, Anda dapat menghubungi Rizal Ash Shiddieqi via nomor hp 08569041762 atau email rizal.ash.shiddieqi@mail.ugm.ac.id.</p>
<p>Anda juga dapat menanyakan tentang eksperimen ini kepada Komite Etik Penelitian Kedokteran dan Kesehatan Fakultas Kedokteran UGM, Telp. 08112666869 atau Telp: 0274 – 588688 pswt 17225 ataupun melalui email: mhrec_fmugm@ugm.ac.id.</p>
<p><b>G.	Persetujuan</b></p>
    <p>
        Partisipasi Anda bersifat sukarela. Jika Anda:
    </p>
    <ol>
        <li>telah membaca lembar persetujuan ini;</li>
        <li>setuju untuk berpartisipasi dalam penelitian ini;</li>
        <li>berusia minimal 18 tahun; dan</li>
        <li>merupakan mahasiswa aktif atau civitas akademika aktif,</li>
    </ol>
    <p>
        maka Anda bisa memilih (mencentang) “Ya” untuk setuju mengikuti penelitian ini dan sebaliknya Anda bisa memilih (mencentang) “Tidak” untuk meninggalkan penelitian.
    </p>
    {{formfield 'consent' label=''}}
    <button class="otree-btn-next btn btn-primary">Simpan</button>

{% endblock %}