{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Selamat Datang
{% endblock %}

{% block content %}
    <p>
        Terima kasih atas partisipasi Anda dalam penelitian ini. Data Anda dijamin keamanannya. Analisis data dalam penelitian ini akan dilakukan secara anonim.
    </p>
    <p>Untuk melaksanakan penelitian ini, maka:
        <ol>
            <li>Pastikan Anda berada <b>di tempat yang nyaman</b>.</li>
            <li>Menyiapkan <b>Laptop/PC</b> yang dilengkapi dengan <b>koneksi internet yang baik</b> untuk mengakses penelitian ini agar menghasilkan <b>tampilan yang optimal</b>. Jika Anda ingin menggunakan HP maka <b>gunakan mode desktop</b> pada browser Anda.</li>
            <li>Menyiapkan <b>alat tulis (pensil/pena/kertas)</b> untuk <b>mencatat</b>.</li>
        </ol>
    </p>
    <p>
        Anda akan dapat menyetujui informed consent dan menyimak instruksi permainan ini pada halaman berikutnya.
    </p>
    <p>Jumlah uang yang Anda akan terima pada permainan ini akan bergantung pada keputusan yang Anda buat dan parameter-parameter di dalam eksperimen. Keputusan pemain lain tidak akan berpengaruh pada poin Anda.
    </p>
    <p>Jika ada pertanyaan dapat disampaikan ke peneliti (Rizal) melalui whatsapp di <a href="http://wa.me/628569041762" target="_blank">http://wa.me/628569041762</a>.
    </p>
    <br>
    <p>Tekan tombol 'Lanjut' jika Anda sudah siap.</p>
    <button class="otree-btn-next btn btn-primary">Lanjut</button>

{% endblock %}