{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block styles %}
{% endblock %}

{% block title %}
    Selamat Datang
{% endblock %}

{% block content %}
    <p>
        Terima kasih atas partisipasi dalam penelitian ini. Data Anda dijamin keamanannya, analisis data akan dilakukan secara anonim. Tampilan terbaik untuk eksperimen ini adalah dengan menggunakan Laptop/PC.
    </p>
    <p>
        Meskipun penelitian ini dilakukan secara online, diharapkan masing-masing peserta tidak berkomunikasi satu sama lain.
    </p>
    <p>
        Anda akan menyimak instruksi permainan ini pada halaman berikutnya.
    </p>
    <p>Jumlah uang yang Anda akan terima pada permainan ini akan bergantung pada keputusan yang Anda buat dan parameter-parameter di dalam eksperimen. Keputusan pemain lain tidak akan berpengaruh pada poin Anda.
    </p>
    <p>Jika ada pertanyaan dapat disampaikan ke peneliti melalui whatsapp di <a href="http://wa.me/628569041762" target="_blank">http://wa.me/628569041762</a>.
    </p>
    {{formfield 'email' label='Masukkan alamat email yang Anda gunakan untuk mendaftar dalam penelitian ini di kotak di bawah ini:'}}
    <br>
    <p>Tekan tombol 'Lanjut' jika Anda sudah siap.</p>
    <button class="otree-btn-next btn btn-primary">Lanjut</button>

{% endblock %}