{% extends "global/Page.html" %}
{% load otree static %}

{% block styles %}
<link rel="stylesheet" href="{% static 'global/custom.css' %}" />
{% endblock %}

{% block title %}
<header><p>{{Constants.header}}</p></header>
    Hasil
{% endblock %}

{% block content %}

<h5>Periode Inti ke-{{round}}</h5>
<br>
<p>Waktu bermain {{player.waktu}} Detik dan jawaban yang benar adalah {{player.performance}}, dengan rincian:</p>
<table class="hasil">
    <tr>
        <td style="width: 30%;">
            <h4>Omset</h4>{{player.performance}} x <span id="base_omset"></span> EU<br><br>
            <h4><span id="omset"></span> EU</h4>
        </td>
        <td style="width: 30%;">
            <h4>Biaya</h4>{{base_biaya}}% x <span id="omset2"></span> EU<br><br>
            <h4><span id="biaya"></span> EU</h4>
        </td>
        <td style="width: 30%;">
            <h4>Laba</h4><span id="omset3"></span> EU - <span id="biaya2"></span> EU<br><br>
            <h4><span id="laba2"></span> EU</h4>
        </td>
    </tr>
</table>
<br>
<table class="notif">
    <tr>
        <td>
            <h5>Anda dapat mencatat hasil game effort (omset/biaya/laba) Anda untuk periode ini menggunakan alat tulis yang sudah Anda siapkan</h5>
        </td>
    </tr>
</table>
    <br><br><br>
    <p>Tekan tombol 'Lanjut' untuk melanjutkan ke tahap berikutnya.</p>
    <!-- button class="otree-btn-next btn btn-primary">Lanjut</button-->
    <!-- Button trigger modal -->
<button id="btn_lanjut" disabled="disabled" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
    Lanjut
  </button>
  <button id="btn_ok" class="otree-btn-next btn btn-primary invisible"></button>
  <!-- Modal -->
  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">Perhatian!!</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            Pastikan Anda telah memahami hasil dari game huruf random.<br>
            Setelah memilih “Ya” maka Anda tidak dapat kembali ke halaman sebelumnya.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Tidak</button>
          <button id="btn_ya" type="button" class="otree-btn-next btn btn-success">Ya</button>
        </div>
      </div>
    </div>
  </div>

<script>
    function thousands_separators(num)
    {
        var num_parts = num.toString().split(".");
        num_parts[0] = num_parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
        return num_parts.join(".");
    }
    document.getElementById("base_omset").textContent = thousands_separators({{base_omset}});
    document.getElementById("omset").textContent = thousands_separators({{player.total_omset}});
    document.getElementById("omset2").textContent = thousands_separators({{player.total_omset}});
    document.getElementById("omset3").textContent = thousands_separators({{player.total_omset}});
    document.getElementById("biaya").textContent = thousands_separators({{player.total_biaya}});
    document.getElementById("biaya2").textContent = thousands_separators({{player.total_biaya}});
    //document.getElementById("laba").textContent = thousands_separators({{player.total_omset}} - {{player.total_biaya}})
    document.getElementById("laba2").textContent = thousands_separators({{player.total_omset}} - {{player.total_biaya}})

    var s = {{wait_seconds}};

    // Update the count down every 1 second
    var x = setInterval(function() {
      
      // If the count down is over, write some text 
      if (s <= 0) {
        clearInterval(x);
        document.getElementById('btn_lanjut').disabled = false;
        document.getElementById("btn_lanjut").textContent = "Lanjut"
      } else {
        document.getElementById("btn_lanjut").textContent = "Lanjut ("+s+")";
      }
      s--;
    }, 1000);

    $("#btn_ya").click(function() {
      $("#btn_ok").click();
    });
</script>
{% endblock %}