{% extends "global/Page.html" %}
{% load staticfiles otree %}

{% block title %}
    Notifikasi
{% endblock %}

{% block content %}

<p>
    Saat ini otoritas pajak Nusa Makmur meningkatkan kapasitas analisis data dengan pihak ketiga sehingga mampu mengestimasi omset yang diperoleh oleh wajib pajak dalam satu periode. Estimasi omset langsung diisikan (prefilled) dalam kolom omset yang akan dilaporkan WP. Pastikan Anda memeriksa isian omset prefilled tersebut, Anda dapat melakukan penyesuaian jika isian omset prefilled tersebut tidak tepat menurut Anda. Submit laporan jika Anda sudah yakin dengan isian tersebut telah Anda periksa. Kesalahan pengisian SPT bukan merupakan tanggung jawab otoritas pajak Nusa Makmur.
</p>
    {% next_button %}

{% endblock %}


